---
import { Image } from 'astro:assets';
import Moon from '../../assets/img/components/switch_themes/moon.png';
import Sun from '../../assets/img/components/switch_themes/sun.png';

var buttonClass = 'hover:bg-slate-200 dark:hover:bg-slate-800 focus:outline-none px-2';
---

<button
	id="switchTheme"
	type="button"
	class={`${buttonClass} dark:hidden block`}
	onclick="document.dispatchEvent(new CustomEvent('set-theme', { detail: 'dark' }))"
>
	<Image src={Moon} alt="moon.png" height="20" />
</button>

<button
	id="switchTheme"
	type="button"
	class={`${buttonClass} hidden dark:block`}
	onclick="document.dispatchEvent(new CustomEvent('set-theme', { detail: 'light' }))"
>
	<Image src={Sun} alt="sun.png" height="20" />
</button>
