<button
  id="theme-toggle"
  type="button"
  class="hover:bg-slate-200 dark:hover:bg-slate-800 focus:outline-none px-2"
>
  <img src="/assets/img/components/switch_themes/moon.png" alt="moon.png" height="20" class="dark:hidden block" id="theme-toggle-dark-icon" />
  <img src="/assets/img/components/switch_themes/sun.png" alt="sun.png" height="20" class="dark:block hidden" id="theme-toggle-light-icon" />
</button>