---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact | Virtual Show Production - Démonstration" description="! Demonstration du nouveau code/design ce site n'est pas le réel VSP !">
    <Navbar />
    <p class="mt-5 text-2xl text-center align-center">
        Contactez le
    </p>
    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight dark:text-slate-100 md:text-4xl lg:text-5xl text-center align-center">
        <span class="underline underline-offset-3 decoration-8 decoration-sky-700 dark:decoration-sky-700">
            Virtual Show Production
        </span>
    </h1>
    <div class="container mx-auto max-w-2xl">
        <p class="mt-5 align-center justify-center text-center mb-10">
            Actuellement en développement.
        </p>
    </div>
    <Footer />
</Layout>