<div class="flex items-center justify-center h-full w-full mb-10 mt-10">
    <div class="text-center">
        <p>Émission | Films | Séries</p>
        <p>- VR -</p>
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight dark:text-slate-100 md:text-4xl lg:text-5xl">
            <span class="underline underline-offset-3 decoration-8 decoration-sky-700 dark:decoration-sky-700">
                À propos de VSP
            </span>
        </h1>
        <p class="dark:text-slate-100" style="max-width: 640px !important;">
            Virtual Show Production (VSP) est une production française créée en novembre 2022 par des passionnés de réalité virtuelle.  VSP croit en l'immense potentiel de la réalité virtuelle pour révolutionner la production télévisuelle en offrant une expérience immersive aux spectateurs.
        </p>
        <a href="/a-propos" title="En savoirs plus sur le VSP" rel="noopener">
            <button class="mt-4 px-4 py-2 bg-sky-700 dark:text-slate-100 text-sm uppercase font-medium rounded hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                En savoirs plus &RightArrow;
            </button>
        </a>
    </div>
</div>