<div class="flex items-center justify-center h-full w-full mb-10 mt-10">
    <div class="text-center">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight dark:text-slate-100 md:text-4xl lg:text-5xl">
            <span class="underline underline-offset-3 decoration-8 decoration-sky-700 dark:decoration-sky-700">
                About {import.meta.env.PUBLIC_SHORTNAME}
            </span>
        </h1>
        <p class="dark:text-slate-100" style="max-width: 640px !important;">
            {import.meta.env.PUBLIC_NAME} ({import.meta.env.PUBLIC_SHORTNAME}) is a French production created in June 2020 by virtual reality enjoyer. 
            {import.meta.env.PUBLIC_SHORTNAME} believes in the immense potential of virtual reality to revolutionize television production by offering viewers an immersive experience.
        </p>
        <a href="/about" title="Find out more about YTS" rel="noopener">
            <button class="mt-4 px-4 py-2 bg-sky-700 dark:text-slate-100 text-slate-100 text-sm uppercase font-medium rounded hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                Read more &RightArrow;
            </button>
        </a>
    </div>
</div>