---
import { Image } from "astro:assets";
import FEImage from '/assets/img/personaljourney.png';

var FEHead = "../assets/img/FavEmission/7c4465_d3efb1c5e8e3407f893ba17a29d0cf06f000.png";
var FEStyle = "height:50rem; background-image: url('"+FEHead+"');";
---

<div class="w-full bg-cover bg-center" style={FEStyle}>
    <div class="flex items-center justify-center h-full w-full bg-gray-900 bg-opacity-50">
        <div class="text-center">
            <Image src={FEImage} alt="FEImage not found" draggable="false" />
            <div style="font-size: 30px;" class="-mt-4r">
                <h2>Tous les premiers Vendredi du mois</h2>
            </div>
            <a href="https://www.twitch.tv/mr_kus_t" title="Personal Journey en Live" rel="noopener">
                <button class="mt-4 px-4 py-2 bg-purple-700 dark:text-slate-100 text-sm uppercase font-medium rounded hover:bg-purple-500 focus:outline-none focus:bg-purple-500">
                    Regarder l'émission &RightArrow;
                </button>
            </a>
        </div>
    </div>
</div>

<style>
    .-mt-4r {
        margin-top: -4rem;
    }
</style>