---
const response = await fetch("https://api.lanyard.rest/v1/users/1114315217640362107");
const lanyard = await response.json();

//var discordName = "Ashrilys";
var discordName = lanyard.data.discord_user.display_name;
---

<footer class="dark:bg-slate-900 dark:text-slate-100">
    <div class="px-4 py-6 dark:bg-slate-900 dark:text-slate-100 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 dark:text-gray-300 sm:text-center">
            <a href="/" title="VSP" rel="noopener">Virtual Show Production</a> (VSP) &copy; 2023 / Tout les droit sont réservé à leur détenteur des droits respectifs.
        </span>
        <div class="flex mt-4 space-x-5 sm:justify-center md:mt-0 text-xs text-slate-700">
            <p>
                Code/Design original fait par &hearts; par 
                <a href="https://discord.com/users/1114315217640362107" title={"Profil Discord de "+discordName} rel="noopener" target="_blank">{discordName}</a>
            </p>
        </div>
      </div>
    </div>
</footer>
