---
var VSPHead = "../assets/img/HeadImage/7c4465_0b274cb9cf2a4b509dd99683876fe365f000.png";
var VSPStyle = "height:32rem; background-image: url('"+VSPHead+"');";
---

<div class="w-full bg-cover bg-center" style={VSPStyle}>
    <div class="flex items-center justify-center h-full w-full bg-gray-900 bg-opacity-50">
        <div class="text-center">
            <div style="font-size: 30px;">
                <h2>Disponible maintenant</h2>
            </div>
            <p>Tous les premiers samedi du mois</p>
            <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight dark:text-slate-100 md:text-5xl lg:text-6xl">
                <span class="underline underline-offset-3 decoration-8 decoration-sky-700 dark:decoration-sky-700">
                    Kus Talk Show
                </span>
            </h1>
            <p class="dark:text-slate-100" style="max-width: 640px !important;">
                Une émission actus et débats sur les dernières technologies, présentée par Mr_Kus,
                retrouvez la tous les premiers samedi du mois de 21h à 23h ou retrouvez l'intégralité des épisodes ici
            </p>
            <a href="/kustalkshow" title="Kus Talk Show" rel="noopener">
                <button class="mt-4 px-4 py-2 bg-sky-700 dark:text-slate-100 text-sm uppercase font-medium rounded hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                    Visionner &RightArrow;
                </button>
            </a>
        </div>
    </div>
</div>