---
var HeadImg = "/assets/img/components/head_image/1920x1080.svg"; // or 512
var HeadStyle = "height:32rem; background-image: url('"+HeadImg+"');";
---

<div class="w-full bg-cover bg-center" style={HeadStyle}>
    <div class="flex items-center justify-center h-full w-full dark:bg-gray-900 bg-gray-100 bg-opacity-50 dark:bg-opacity-50">
        <div class="text-center">
            <div style="font-size: 30px;">
                <h2>Available now</h2>
            </div>
            <p>Every first Saturday of the month</p>
            <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight dark:text-slate-100 md:text-5xl lg:text-6xl">
                <span class="underline underline-offset-3 decoration-8 decoration-sky-700 dark:decoration-sky-700">
                    Your Talk Show
                </span>
            </h1>
            <p class="dark:text-slate-100" style="max-width: 640px !important;">
                A news and debate program on the latest technologies, presented by PresentatorName, 
                every first Saturday of the month from 9pm to 11pm, or find all the episodes here.
            </p>
            <a href="/emission/your-talk-show" title="Your Talk Show" rel="noopener">
                <button class="mt-4 px-4 py-2 bg-sky-700 text-slate-100 dark:text-slate-100 text-sm uppercase font-medium rounded hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                    View &RightArrow;
                </button>
            </a>
        </div>
    </div>
</div>