---
import Card from './LastPosts/Card.astro';

var imagesFolder = '/assets/img/components/last_posts/';
var baseAPI = Astro.url.origin + '/fakeAPI/lastPost.json';

const post = await fetch(baseAPI);
const _post = await post.json();
---

<div class="container mx-auto mt-10 mb-10">
	<h1 class="text-2xl mb-5">
		<span
			class="underline underline-offset-3 decoration-4 decoration-sky-700 dark:decoration-sky-700"
		>
			Our last 5 releases
		</span>
	</h1>

	<div class="flex flex-nowrap">
		{
			_post
				.slice(0, 5)
				.map((post) => (
					<Card
						title={post.title}
						resume={post.resume}
						image={imagesFolder + post.image_nameext}
						link={post.link}
					/>
				))
		}
	</div>
</div>
