--- 
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr" class="dark dark:bg-slate-950 dark:text-slate-100">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="robots" content="noindex, nofollow" />
		<meta name="googlebot" content="noindex, nofollow" />
	</head>
	<body>
		<slot />
		<script src="../assets/js/flowbite-1.8.1.min.js"></script>
	</body>
</html>

<style is:global>
	
</style>